<!DOCTYPE html>
<html>
    <head>
        <!-- Setting the title -->
        <title>Build A Blog</title>
        <style type="text/css">
            /* Printing errors in red */
            .title_error, .body_error {
                color: red;
                font-style: italic;
            }
            nav { display: inline-block;}
            ul label a li {text-decoration: none;}
            h1{text-align: center;}
        </style>
    </head>
    <body>
        <nav>
            <a href="/">Main Blog Page</a>
            &nbsp;
            <a href="/add">Add a Blog Entry</a>
        </nav>

        {% block content %}
        {% endblock %}

    </body>
</html>